* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  --padding: 2.5rem 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.main_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.main_header::after {
  content: "";
  position: absolute;
  background-color: #7e1891;
  inset: 0;
  height: calc(100% + 5rem);
  z-index: -1;
  transform: skew(0, -10deg) translateY(-15rem);
}

.main_header .about {
  --img-size: 500px;
  --border-radius: 10px;
  padding: var(--padding);
}

a {
  text-decoration: none;
}

img {
  aspect-ratio: 1/1;
  width: 100%;
}

.main_header .about .profile_image {
  float: left;
  width: var(--img-size);
  height: var(--img-size);
  transform: translate(0, -3rem);
  margin-right: 1rem;
  position: relative;
}

.main_header .about .profile_image #profile_picture {
  border-radius: var(--border-radius);
}

.main_header .about .profile_image #profile_name {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  font-size: 3rem;
  text-shadow: 1px 1px 5px #333;
}

.main_header .about .profile_desc {
  background-color: #fff;
  padding: 1rem;
  height: 25rem;
  box-shadow: 0 0 10px #333;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  color: #333;
}

.main_header .about .profile_desc .heading {
  margin-bottom: 1rem;
  color: #7e1891;
}

.main_header .about .profile_desc .icon_links {
  margin-top: 7rem;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.icon {
  --size: 24px;
  width: var(--size);
  height: var(--size);
}

.icon-sm {
  --size: 18px;
  width: var(--size);
  height: var(--size);
}

/** Project Sectipn */
.projects {
  padding: var(--padding);
}

.projects > :first-child {
  margin-bottom: 1rem;
}
.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, calc(33.33% - 0.8rem)));
  justify-content: centedior;
  gap: 1rem;
  --project-clr-one: #074799;
  --project-clr-two: #009990;
  --project-clr-three: #fada7a;
}

.projects_container > article {
  border: 1px solid #333;
  min-height: 450px;
  display: grid;
  gap: 1rem;
  grid-template-rows: 2fr 1fr;
}

.projects_container > article header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.projects_container > article .project_info {
  padding: 1rem;
}

.projects_container > article:nth-child(1n) .project_img {
  background-color: var(--project-clr-one);
}
.projects_container > article:nth-child(2n) .project_img {
  background-color: var(--project-clr-two);
}

.project_container > article:nth-child(4n) .project_img {
  background-color: var(--project-clr-three);
}
.project_container > article:nth-child(6n) .project_img {
  background-color: var(--project-clr-three);
}
